body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Baloo Bhai';
    overflow-y: auto; 
    margin-top: 70px;
}

.div-principal {
    position: relative; 
    display: flex;
    width: 1425px;
    height: 798px;
    border-radius: 20px;
    background-color: #010101;
    margin-bottom: 20px;
}

.div-esquerda {
    width: 27%; /* Ocupa 30% da largura da div-principal */
    background-color: #1A1A1A; /* Cor de fundo diferente para destaque */
    border-radius: 20px 0px 0px 20px; /* Canto arredondado na esquerda */
    padding: 20px;
}

.div-direita {
    width: 72%; /* Ocupa 70% da largura da div-principal */
    background-color: #2A2A2A; /* Cor de fundo diferente para destaque */
    border-radius: 0px 20px 20px 0px; /* Canto arredondado na direita */
    padding: 20px;
}

.retangulo-informacoes-3 {
    width: 320px;
    height: 232px;
    position: absolute;
    top: 580px;
    left: 462px;
    border-radius: 20px;
    border: 1px solid #3CB3D6;
    background-color: rgba(0, 0, 0, 0); /* Ajuste da opacidade de fundo */
    opacity: 1; /* Visibilidade ativada */
}
.duplicadoo {
    width: 350px;
    height: 696px;
    position: absolute;
    top: 60px;
    left: 35px;
    border-radius: 20px;
    border: 1px solid #3CB3D6;
    background-color: rgba(0, 0, 0, 0); /* Ajuste da opacidade de fundo */
    opacity: 1; /* Visibilidade ativada */
}

.titulo-retangulo {
    width: 100%; /* Ajusta a largura ao do retângulo */
    height: 36px;
    background: #3CB3D6; /* Cor de fundo */
    border-radius: 20px 20px 0 0; /* Arredonda apenas os cantos superiores */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho do texto */
    line-height: 36px; /* Centraliza verticalmente o texto */
    text-align: center; /* Centraliza horizontalmente o texto */
    position: absolute;
    top: 0; /* Alinha o título ao topo do retângulo */
    left: 0; /* Alinha o título à esquerda do retângulo */
}

.status-rectangle {
    width: 300px;
    height: 35px;
    position: absolute;
    top: 130px;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajuste para espaçar os textos */
    padding: 0 10px; /* Adicione um pequeno padding para afastar o texto das bordas */
    border-radius: 5px;
    opacity: 1; /* Tornar o retângulo visível */
    background: #37373796;
  }
  .status-text {
    font-size: 14px;
    color: #fff;
    font-family: 'Baloo Bhai', sans-serif;
  }

  .imagem-mecanico {
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    width: 50%; /* Ajuste a largura da imagem conforme necessário */
    height: 25%; /* Ajuste a altura da imagem conforme necessário */
    position: absolute;
    top: 0px; /* Ajuste a posição vertical da imagem */
    left: 50%; 
    transform: translateX(-50%); /* Centraliza a imagem em relação ao retângulo */
}








.saldo-imagem {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}
.saldo-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    gap: 10px; /* Espaçamento entre os retângulos */
    margin-top: 50px;
}

.saldo-item {
    display: flex;
    align-items: center;
    width: 280px;
    height: 35px;
    border-radius: 5px;
    background: #37373796;
    padding: 10px;
}

.saldo-texto {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Espaçamento reduzido entre o título e o valor */
    font-family: 'Baloo Bhai', sans-serif;
    
   
}

.saldo-titulo {
    font-family: 'Baloo Bhai', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px; /* Ajuste na altura da linha para deixar os textos mais próximos */
    text-align: left;
    color: white;
    margin: 0;
}
.saldo-valor {
    font-family: 'Baloo Bhai', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* Ajuste na altura da linha para deixar os textos mais próximos */
    text-align: left;
    color: white;
    margin: 0;
}



/* DIV DA DIREITA */

/* Estilo para o contêiner dos quadrados e do input de pesquisa */
.container-quadrados {
    position: absolute;
    top: -60px; /* Ajuste para posicionar os quadrados acima do fundo */
    left: 5px; /* Ajuste para mover os quadrados mais para a esquerda */
    display: flex;
    gap: 10px; /* Espaçamento entre os quadrados e o input */
}

.botao-quadrado-azul {
    width: 40px; /* Tamanho do quadrado */
    height: 40px; /* Tamanho do quadrado */
    background-color: #3CB3D6; /* Cor de fundo azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Remove a borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Indica que o elemento é clicável */
    padding: 0; /* Remove o padding padrão do botão */
    margin: 0; /* Remove a margem padrão do botão */
}

.pequena-imagem {
    width: 25px; /* Tamanho da imagem */
    height: 25px;
}

/* Estilo para o contêiner do input e ícone */
.input-container {
    position: relative; /* Define o contexto para o ícone */
    margin-left: 5px; /* Espaçamento entre os quadrados e o input */
}

/* Estilo para o input de pesquisa */
.input-pesquisa {
    padding: 10px 10px 10px 40px; /* Espaçamento interno, espaço adicional à esquerda para o ícone */
    width: 540px; /* Largura do input */
    background: rgba(62, 62, 62, 0.42); /* Cor de fundo com opacidade */
    border: none; /* Remove a borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto do placeholder */
}

.input-pesquisa::placeholder {
    color: #ccc; /* Cor do placeholder */
}

/* Estilo para o botão da lupa */
.botao-icone-pesquisa {
    position: absolute; /* Alinha o botão com o input */
    left: 10px; /* Alinha o ícone à esquerda dentro do input */
    top: 50%; /* Alinha verticalmente o ícone no centro */
    transform: translateY(-50%); /* Corrige o alinhamento vertical */
    width: 18px; /* Tamanho do botão */
    height: 18px; /* Tamanho do botão */
    background: transparent; /* Remove o fundo do botão */
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Indica que o botão é clicável */
    padding: 0; /* Remove o padding padrão do botão */
    display: flex; /* Centraliza o ícone dentro do botão */
    justify-content: center;
    align-items: center;
}
/* Estilo para o ícone dentro do botão */
.botao-icone-pesquisa img {
    width: 18px; /* Tamanho do ícone */
    height: 18px; /* Tamanho do ícone */
}

/* Outros estilos existentes */
.retangulo-fundo {
    width: 950px;
    height: 450px;
    background: rgba(29, 28, 28, 0.48); /* Cor com opacidade */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    position: relative; /* Define a posição relativa para o fundo */
}

.imagem-central {
    width: 650px;
    height: 378.6px;
}

.codigo-overlay {
    position: absolute;
    top: 20px; /* Ajusta a posição para o canto superior */
    left: 20px; /* Ajusta a posição para o canto esquerdo */
    padding: 5px 10px;
    background: rgba(62, 62, 62, 0.42); /* Cor com opacidade */
    border-radius: 4px;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
}

.imagem-direita {
    position: absolute;
    top: 20px; /* Posição no canto superior */
    right: 20px; /* Posição no canto direito */
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
}

.botao-quadrado-azul img {
    width: 25px; /* Tamanho da imagem */
    height: 25px;
}
/* Estilo para os botões dos retângulos */
.botao-retangulo-azul {
    width: 110px; /* Largura dos retângulos */
    height: 40px; /* Altura dos retângulos */
    background-color: #3CB3D6; /* Cor de fundo azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Remove a borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    cursor: pointer; /* Indica que o elemento é clicável */
    margin-left: 12px; /* Espaçamento entre o input e os retângulos */
    padding: 0; /* Remove o padding padrão do botão */
}

/* Estilo para o contêiner do input e ícone, ajustando o espaço para os retângulos */
/* Ajusta o contêiner do input e ícone para incluir os botões */
.input-container {
    position: relative; /* Define o contexto para o ícone e botões */
    margin-left: 5px; /* Espaçamento entre os quadrados e o input */
    display: flex; /* Organiza os itens horizontalmente */
    align-items: center; /* Alinha verticalmente os itens */
    gap: 1px; /* Espaçamento entre os itens */
}




/* Estilo para o código do card com fundo retangular azul */
.card-code {
    font-size: 16px; /* Tamanho da fonte ajustado */
    margin-bottom: 3px; /* Espaçamento abaixo do código */
    margin-top: 7px;
    background: #3CB3D6; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca para contraste */
    padding: 1px 40px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    display: inline-block; /* Garante que o fundo azul se ajuste ao texto */
}

/* Estilo para a nova seção de cards */
.cards-container {
    display: flex; /* Organiza os cards horizontalmente */
    justify-content: flex-start; /* Alinha os cards no início da linha */
    flex-wrap: nowrap; /* Não permite quebra de linha, todos os cards na mesma linha */
    gap: 8px; /* Espaçamento entre os cards */
    margin-top: 20px; /* Espaçamento acima dos cards */
    margin-left: -18px; /* Espaçamento à esquerda da div para mover os cards mais para a direita */
    overflow-x: auto; /* Permite rolagem horizontal se os cards não cabem na tela */
}

/* Estilo para cada card */
.card {
    width: 160px; /* Largura aumentada do card */
    height: 150px; /* Altura aumentada do card */
    background: radial-gradient(547.21% 823.76% at 94.51% 88.04%, #1D1C1C 0%, #837E7E 100%); /* Cor de fundo do card */
    border: 2px solid #3CB3D6; /* Borda do card */
    border-radius: 8px; /* Bordas arredondadas */
    display: flex; /* Organiza o conteúdo verticalmente */
    flex-direction: column; /* Organiza os itens na vertical */
    align-items: center; /* Alinha o conteúdo horizontalmente no centro */
    justify-content: center; /* Alinha o conteúdo verticalmente no centro */
    overflow: hidden; /* Esconde qualquer parte do conteúdo que exceda os limites do card */
}

/* Estilo para a imagem do card */
.card-image {
    width: 70%; /* Largura da imagem */
    height: 40%; /* Altura da imagem reduzida */
    object-fit: cover; /* Cobre o espaço do card mantendo a proporção da imagem */
    margin-top: 15px;
}
.card-image2 {
    width: 120%; /* Largura da imagem */
    height: 80%; /* Altura da imagem reduzida */
    object-fit: cover; /* Cobre o espaço do card mantendo a proporção da imagem */
    margin-bottom: -20px;
    margin-top: -14px;
}
.card-image3 {
    width: 110%; /* Largura da imagem */
    height: 80%; /* Altura da imagem reduzida */
    object-fit: cover; /* Cobre o espaço do card mantendo a proporção da imagem */
    margin-bottom: -18px;
    margin-top: -12px;
}
.card-image4 {
    width: 100%; /* Largura da imagem */
    height: 70%; /* Altura da imagem reduzida */
    object-fit: cover; /* Cobre o espaço do card mantendo a proporção da imagem */
    margin-top: 0px;
    margin-bottom: -17px;
}

/* Estilo para o conteúdo do card */
.card-content {
    width: 100%; /* Largura do conteúdo */
    text-align: center; /* Centraliza o texto */
    color: #fff; /* Cor do texto */
    padding: 5px 0; /* Espaçamento interno */
}

/* Estilo para o código do card */
.card-code {
    font-size: 16px; /* Tamanho da fonte ajustado */
    margin-bottom: 3px; /* Espaçamento abaixo do código */
}



/* Estilo para a seta esquerda */
.seta-esquerda {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    cursor: pointer; /* Indica que a seta é clicável */
    align-self: center; /* Centraliza verticalmente a seta em relação aos cards */
    margin-right: 40px; /* Espaçamento entre a seta e o primeiro card */
}

/* Estilo para a seta direita */
.seta-direita {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    cursor: pointer; /* Indica que a seta é clicável */
    align-self: center; /* Centraliza verticalmente a seta em relação aos cards */
    margin-left: -10px; /* Espaçamento entre a seta e o último card */
}
/* Estilo para a nova seção de cards */
.fundo-cards {
    display: flex; /* Organiza as setas e os cards na horizontal */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Centraliza o conteúdo */
}



